html,
body {
  font-family: 'Montserrat', regular;
  text-align: center;
  color: #4F4F4F;
  background: #FFFAF0;
  
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  background: #FFFAF0;
  min-height: 70vh;
  padding-top: 45vh;
  background-image: url(https://s25.postimg.cc/fwipjn3xr/fundo-port.png);
  font-size: 30px;
  /*   line-height: 100vh; */
  /*   width:100%;
  height:96vh;
border:solid; */
}

.intro p {
  color: #696969;
  
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #FFEFDB;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #4F4F4F;
  text-decoration: none;
  font-weight: regular;
  
}

nav ul li a:hover {
  color: #000000;
}

.work {
  padding-top: 60px;
  margin-top: -60px;
  
}

.work-header {
  margin-top: 80px;
  color: #4F4F4F;
  font-family: 'Montserrat', regular;
  font-weight: bold;
  font-size: 40px;
  
  
 
}

.project {
  text-decoration: none;
  font-weight: light;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: #4F4F4F;
  display: inline-block;
  overflow: hidden;
  height: 260px;
  width: 290px;
  margin: 50px 200px;
  background: #fffdfa;
  
}

.project-pic {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #E8E8E8;
}

.project-title {
  font-weight: bold;
  text-align: center;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
  background: #fffdfa;
  color: #4F4F4F;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid #E8E8E8;
  border-radius: 4px;
  cursor: pointer;
  padding-top:10px;
}


.show-all:hover {
  background: #FFFFFF;
  color: 	#696969;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #FFFAF0;
  padding-bottom: 160px;
  background-image: url(https://s25.postimg.cc/fwipjn3xr/fundo-port.png);
}

.header {
  padding: 160px 0 110px;
  font-size: 20px;

}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #FFEFDB;
  color: #4F4F4F;
  text-decoration: none;
}

.contact-details:hover {
  background: #FFFAF0;
  color: #000000;
  
}

footer {
  padding: 20px;
  background: #4F4F4F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

@media only screen and (max-width: 367px) {
  /*    #contact{
    min-height:1100px;
  } */
  .contact-details {
    border: 2px solid #4F4F4F;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}
